@import "normalize";
@import "bootswatch";
@import "variables"


@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flexCenter {
  justify-content: center;
  align-items: center;
  align-content: center;
}

@mixin flexFlowCol {
  flex-flow: column;
  flex-wrap: nowrap;
}

@mixin flexFlowRow {
  flex-flow: row;
  flex-wrap: nowrap;
}

body {
  height: 100vh;
  width: 100vw;
}

.title-box {
  @include flexbox;
  @include flexCenter;

}

.cta-container {
  @include flexbox;
  @include flexCenter;
  @include flexFlowCol;
  width: 100%;
  height: 500px;
}

.input-container {
  @include flexbox;
  @include flexCenter;
  @include flexFlowRow;
  width: 100%;
  height: 600px;
}

.recipe-list,
.brew-equations {
  background: lightblue;
  width: 25%;
  height: 100%;
}

.recipe-inputs {
  background: green;
  width: 50%;
  height: 100%;
}

.resources-container {
  @include flexbox;
  @include flexCenter;
  @include flexFlowRow;
  width: 100%;
  height: 300px;
}

.brew-calculator,
.brew-books,
.brew-supplies {
  height: 100%;
  width: 33.33%;
}

.brew-calculator {
  background: red;
}
.brew-books {
  background: blue;
}
.brew-supplies{
  background: orange;
}

footer {
  @include flexbox;
  @include flexCenter;
  @include flexFlowCol;
}
